html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}